<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/stud-profile" class="profile-btn">
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-toolbar>

      <div class="main__container">
        <h1>Group Information</h1>
        <div class="illustration__container">
            <img src="../../assets/images/group-information-illustration.svg" alt="Group information illustration" loading="lazy">
        </div>
        <div class="main__container--input">
            <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div class="suggestedparticipants__container">
            <p>Suggested</p>
            <div class="suggestedparticipants__container--participant">
                <mat-radio-button value="1"></mat-radio-button>
                <p>John Doe</p>
            </div>
            <div class="suggestedparticipants__container--participant">
                <mat-radio-button value="1"></mat-radio-button>
                <p>John Doe</p>
            </div>
            <div class="suggestedparticipants__container--participant">
                <mat-radio-button value="1"></mat-radio-button>
                <p>John Doe</p>
            </div>
            <div class="suggestedparticipants__container--participant">
                <mat-radio-button value="1"></mat-radio-button>
                <p>John Doe</p>
            </div>
            <div class="suggestedparticipants__container--participant">
                <mat-radio-button value="1"></mat-radio-button>
                <p>John Doe</p>
            </div>
            <div class="suggestedparticipants__container--participant">
                <mat-radio-button value="1"></mat-radio-button>
                <p>John Doe</p>
            </div>
            <div class="suggestedparticipants__container--participant">
                <mat-radio-button value="1"></mat-radio-button>
                <p>John Doe</p>
            </div>
            <div class="suggestedparticipants__container--participant">
                <mat-radio-button value="1"></mat-radio-button>
                <p>John Doe</p>
            </div>
        </div>
        <button mat-flat-button>Create Group</button>
      </div>

    </div>
  
  </mat-drawer-container>