mat-drawer-container {
    height: 100%;
}
mat-drawer {
    width: 200px;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-400);
    padding: 10px;
}
.example-spacer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}
mat-toolbar {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--clr-neutral-400);;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.profile-btn:hover {
    background-color: var(--clr-secondary-400);
}
.main__container {
    border: 2px solid red;
    height: 100%;
}
.illustration__container {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    // border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}
.message__container--flex {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    // border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.usericon__container {
    img {
        width: 32px;
        height: 32px;
        vertical-align: middle;
    }
}
.message__container--message {
    p {
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        width: 125px;
    }
}