mat-drawer-container {
    height: 100%;
}
mat-drawer {
    width: 250px;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-400);
    padding: 10px;
}
.example-spacer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}
mat-toolbar {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--clr-neutral-400);;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}
.profile-btn:hover {
    background-color: var(--clr-secondary-400);
}
.main__container {
    height: 100%;
    padding: 16px;
}
.illustration__container {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    // border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}
.message__container--flex {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    // border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.usericon__container, .indivmessage__container--usericon {
    img {
        width: 32px;
        height: 32px;
        vertical-align: middle;
    }
}
.message__container--message {
    flex-grow: 1;
    p {
        margin: 0;
        font-size: 14px;
    }
    p:last-of-type {
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
        width: 150px;
    }
}
.indivmessage__container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    .indivmessage--name--date {
        p {
            margin-top: 0;
            margin-bottom: 5px;
        }
        p:last-of-type {
            margin-bottom: 0;
        }
    }
}
mat-divider {
    margin-top: 10px;
}
.example-full-width {
    width: 100%;
}
.yourmessage__container {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    z-index: 1000;
    background-color: #F3F4F6;
    width: 100%;
    padding: 10px;
}
.greetings__container {
    
}
