<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/stud-profile" class="profile-btn">
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-toolbar>

      <div class="main__container">
        <div class="main__container--heading">
            <h1>Groups</h1>
            <div class="illustration__container">
              <img src="../../assets/images/groups-illustration.svg" alt="Groups illustration" loading="lazy">
            </div>
        </div>

        <div class="group__container">
          <div class="groupicon__container">
            <img src="../../assets/images/groups-icon.png" alt="Groups icon" loading="lazy">
          </div>
          <div class="group__container--info">
            <p>Sample Group Name</p>
            <p>Date Created: June 16 2022</p>
          </div>
        </div>
      </div>

    </div>
  
  </mat-drawer-container>