<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/stud-profile" class="profile-btn">
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-toolbar>

      <div class="main__container">
        <div class="main__container--heading">
            <h1>Your Classes</h1>
            <p>See your classes and create groups.</p>
        </div>

        <div class="class__container">
            <div class="illustration__container">
                <img src="../../assets/images/Teacher-amico.svg" alt="">
            </div>
            <p class="title">Capstone Project II</p>
            <p>Classcode: 30945</p>
            <p>MT 6:00pm-9:00pm</p>
        </div>
      </div>

    </div>
  
  </mat-drawer-container>