mat-drawer-container {
    height: 100%;
}
mat-drawer {
    width: 250px;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-400);
}
.example-spacer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}
mat-toolbar {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--clr-neutral-400);;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.profile-btn:hover {
    background-color: var(--clr-secondary-400);
}
.main__container {
    padding: 16px;
    .main__container--heading {
        h1, p {
            margin: 0;
        }
        h1 {
            color: var(--clr-primary-400);
        }
    }
}
.group__container {
    display: flex;
    gap: 10px;
    background-color: #cce0f0;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    margin-top: 16px;
    cursor: pointer;
    .groupicon__container {
        img {
            width: 64px;
            height: 64px;
        }
    }
    .group__container--info {
        p {
            margin: 0;
        }
        p:first-of-type {
            font-size: 20px;
            font-weight: 600;
            color: var(--clr-primary-400);
        }
        p:last-of-type {
            margin-top: 3px;
        }
    }
}
.illustration__container {
    img {
        width: 100%;
        height: auto;
    }
}
