mat-drawer-container {
    height: 100%;
}
mat-drawer {
    width: 250px;
    background-color: var(--clr-primary-400);
    color: var(--clr-neutral-400);
}
.example-spacer {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
}
mat-toolbar {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: var(--clr-neutral-400);;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
.profile-btn:hover {
    background-color: var(--clr-secondary-400);
}
.main__container {
    padding: 16px;
}
.flex-item {
    h1, p {
        margin: 0;
    }
    h1 {
        color: var(--clr-primary-400);
    }
    p:last-of-type {
        margin-top: 10px;
    }
}
.illustration__container {
    img {
        width: 100%;
        height: auto;
    }
}
.options__container--option {
    background-color: #cce0f0;
    margin-top: 10px;
    border-radius: 8px;
    padding: 10px;
    p {
        margin: 0;
    }
    p:first-of-type {
        font-size: 22px;
        color: var(--clr-primary-400);
        font-weight: 600;
    }
    button {
        margin-top: 10px;
        background-color: var(--clr-primary-400);
        color: var(--clr-neutral-400);
    }
}
.class__container {
    background-color: #cce0f0;
    border-radius: 8px;
    padding: 16px;
    margin-top: 16px;
    cursor: pointer;
    p {
        margin: 5px 0;
        font-size: 14px;
    }
    .title {
        font-size: 22px;
        color: var(--clr-primary-400);
        font-weight: 600;
    }
}


.class__button-flex-container {
    margin-top: 10px;
    width: auto;
    button{
        background-color: var(--clr-primary-400);
        color: white;
        width: 100%;
        font-size: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 8px;
    }
}


@media only screen and (max-width: 410px) {
    .class__button-flex-container {
        button {    
            font-size:16px;
        }
    }
}
@media only screen and (max-width: 180px) {
    .class__button-flex-container {
        button {    
            font-size:12px;
        }
    }
}