<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar>
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <button mat-icon-button routerLink="/stud-profile" class="profile-btn">
          <mat-icon>account_circle</mat-icon>
        </button>
      </mat-toolbar>

      <div class="main__container">
        <div class="greetingtext__container">
            <div class="flex-item">
                <h1>Welcome, John Doe!</h1>
                <p>Pick from your list of students in your classes and create a group for them to collaborate.</p>
            </div>
        </div>

        <!-- <div class="options__container">
            <div class="options__container--option">
                <div class="illustration__container">
                  <img src="assets/images/create-group-illustration.svg" alt="Create group illustration">
                </div>
                <p>Create a Group</p>
                <p>Pick from your list of students in your classes and create a group for them to collaborate.</p>
                <button mat-flat-button>Go</button>
            </div>
        </div> -->

        <!-- <div class="group__container">
          <div class="groupicon__container">
            <img src="../../assets/images/groups-icon.png" alt="Groups icon">
          </div>
          <div class="group__container--info">
            <p>Sample Group Name</p>
            <p>Date Created: June 16 2022</p>
          </div>
        </div> -->

        <!-- <div class="main__container--heading">
          <h1>Your Classes</h1>
          <p>See your classes and create groups.</p>
        </div> -->
        <div class="main__container-heading-flex">
          <div class="class__button-flex-container">
            <button mat-flat-button >
              <mat-icon>people</mat-icon>
              Create Group
            </button>
          </div>
        </div>

        <div class="class__container">
          <div class="illustration__container">
              <img src="../../assets/images/Teacher-amico.svg" alt="">
          </div>
          <p class="title">Capstone Project II</p>
          <p>Classcode: 30945</p>
          <p>MT 6:00pm-9:00pm</p>
        </div>

        <div class="class__container">
          <div class="illustration__container">
              <img src="../../assets/images/Teacher-amico.svg" alt="">
          </div>
          <p class="title">IT Practicum 2</p>
          <p>Classcode: 30946</p>
          <p>WThF 9:00am-12:00pm</p>
        </div>

      </div>

    </div>
  
  </mat-drawer-container>